@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap');
body
{
    font-family: Arial,"sans-serif";
}
img{
  transition: all .2s ease-in-out;
}
.card{
  border: none;
}
a.black
{
  color:#000;
}
a.black.bluehover:hover
{
  color: #0074c4;
}
a.black:hover
{
  color:#3d3d3d;
}
a.shadeblue
{
  color: #0074c4;
  
}
a.shadeblue:hover{
  color:#318ECE;
}
.margin_t
{
  margin-top: 2rem;
}
/*Header*****************************************/
.sidepanel {
  width: 0;
  position: absolute;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff !important;
  overflow-x: hidden;
  transition:all .2s ease-in-out;
  padding-top: 10px;
  padding-bottom: 180px;
}

.sidepanel ul li a.items {
  /*padding: 8px 8px 8px 32px;*/
  border-bottom: 0;
  padding-top: .50rem;
  padding-bottom: .50rem;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  padding-left: 1.25rem;
  transition: all .2s ease-in-out;
  display: inline-block;
  width: 50%;
}

.sidepanel ul li{
  cursor: pointer;
}

.sidepanel ul li i
{
  
  padding-top:.50rem;
  padding-bottom:.50rem;
  padding-right: 1rem;
  margin-left: 100px;
  display: inline-block;
  
}

.sidepanel .dropdown-menu
{
  min-width: 12rem;

}
.sidepanel ul li.dropright
{
  color:#000;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
.sidepanel ul li.dropright:hover{
  color: #0074c4;
  background: rgb(238, 237, 237);
}
.sidepanel ul li.dropright:hover .dropdown-menu{
  display: block;
}
.sidepanel ul li.dropright:hover a.items{
  color: #0074c4;
  text-decoration: underline;
}

.sidepanel .dropdown-menu ul li{
  padding: 10px;
}
.sidepanel .dropdown-menu ul li:hover{
  color: #0074c4;
  background: rgb(238, 237, 237);
}

.sidepanel .dropdown-menu ul li a{
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  padding-left: 1.25rem;
  transition: all .2s ease-in-out;
  display: inline-block;
}
.sidepanel .dropdown-menu ul li:hover a{
  /*padding-top: 0px;
  padding-bottom: 0px;*/
  color: #0074c4;
  text-decoration: underline;
  background: rgb(238, 237, 237);
}

.sidepanel .topside-section a{
  text-decoration: none;
  padding: .8125rem 0px .8125rem 1.25rem;
}

.sidepanel .closebtn {
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 26px;
}

.sidepanel .side-logo
{
  position: absolute;
  top: 0;
  left:5px;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-style: bold;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #006998 !important;
  letter-spacing: 3px;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.nav-item .btn ::after
{
    content: "Secciones";
    margin-left: 8px;
    font-size: 0.75rem;
    font-family: Arial, "sans-serif";
    font-weight: 500;
    align-items: center;
    vertical-align: middle;
}
.nav-item .btn
{
  padding: .375rem .375rem .375rem 0;
}
.nav-item .btn:hover{
    color: #006998;
}
.lanacoin_logo_header {
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-style: bold;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #006998 !important;
  letter-spacing: 3px;
}

.com-search {
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 11.875rem;
}
.com-search:focus-within {
  width: 100% !important;
}
form.com-search input[type=text] {
    padding: 10px;
    font-size: 15px;
    background: #f1f1f1;
    width: 100%;
  }
  
  /* Style the submit button */
  form.com-search button {
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transform: translateX(2px); 
    position: absolute; 
    right: 8px;
    border-radius: 5px;
}
  
  form.com-search button:hover {
    color: #0b7dda;
  }
  
  /* Clear floats */
  form.com-search::after {
    content: "";
    clear: both;
    display: table;
  }
  .btnr
  {
    border: 1px solid #ccc;
    color: #000;
    padding: .6875rem 2rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    transition: opacity .2s ease-in-out;
    font-size: 12px;
  }
  .btnr.yellow
  {
    background: #ffff24;
  }
  .btnr.yellow:hover
  {
    background: #323232;
    color: #fff;
  }
  .btnr.outline_blue
  {
    background-color: #fff;
    border: 1px solid #0074c4;
    color: #0074c4;
  }
  .btnr.outline_blue:hover
  {
    background: #328FCF;
    color: #fff;
  }
  .smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }
/***********************HomePage****************************************/


#sub-header
{
  background: #f7f7f7;
  border-bottom: 1px solid #d9d9d9;
  padding: .5rem 0;
  font-size: .875rem;
  padding: .5rem 0;
   
}
#sub-header .currency a
{
  color: #0074c4;
}
#sub-header .currency a:hover
{
  color: #318ECE;
}
#sub-header .weather a
{
  position: relative;
  top: -6px;
  color:#000 ;
}
#sub-header .weather a:hover{
  color:#4E4E4E;
}
#sub-header .weather:before
{
  content: "";
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  margin-right: 5px;
  display: inline-block;
  background-image: url("/static/svg/image.svg");

}
#sub-header .Newsletters{
  padding-top: 2px;
}
#sub-header .club a
{
  position: relative;
  top: -6px;
  color: #0074c4;
}
#sub-header .club:before
{
  content: "";
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  margin-right: 5px;
  display: inline-block;
  background-image: url("../svg/club.svg");

}
#sub-header .Newsletters a
{
  color: #0074c4;
}
#sub-header .Newsletters a:hover,.club a:hover
{
  color: #318ECE;
}

.recent-news .col-tablet:after{
content: "";
display: block;
height: 100%;
position: absolute;
right: .875rem;
top: 0;
border-right: 1px solid #d9d9d9;

}

.card .big-image img
{
  transition: all .2s ease-in-out;
  filter: brightness(1.1);
}
h1.title
{
  transition: all .2s ease-in-out;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  transition: all .2s ease-in-out;
  color: #000;
  
}

h2.title
{
  font-family: 'Roboto Slab', serif;
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 900;
  letter-spacing: -.4px;
  color: #000;
}
h3.title{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  display: inline-block;
  margin-bottom: -1px;
  padding-bottom: .3125rem;
  color:#000;
}
a h1.title:hover,a h2.title:hover
a h3.title:hover{
  color: #808080;
}
.big-image img
{
  border:1px solid #ccc;
}
.small-image img
{
  border:1px solid #ccc;
}
em.highlight
{
  transition: all .2s ease-in-out;
  color: #0074c4;
  font-style: normal;
  
}
 a:hover em.highlight
{
  color: #318ECE;
}
 a:hover .big-image .card-body .card-text, a:hover .small-image .card-body .card-text
{
  color: #808080;
}
 a:hover .big-image .card-body img, a:hover .small-image .card-body img
{
  filter: brightness(1.11);  
}

 a:hover .big-image .card-body .title ,a:hover .small-image .card-body .title ,a:hover .author
{
  color:#4E4E4E;
}
.sidebar_aside
{
  padding-right: 15px;
  background: repeating-linear-gradient(45deg,#fff,#fff,#fff,#fff 4px,#dbdbdb 6px);
}
.author
{
  font-size: .875rem;
  line-height: 1.0625rem;
  margin-top: .3125rem;
  color: #000;
}

.article-header
{
  
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 1.25rem;
  width: 100%;
  
}

#section-editorials ul li
{
  font-family: 'Roboto Slab', serif;
  display: inline list-item;
  padding-right: 1rem;
  list-style-type: disc;
  
}
/*Footer****************************************/


.icons
{
  font-size: 25px;
  padding:0 1rem;
  color: black;
}
.footer-link
{
  color: #0074C4;
  padding: 0 0.5rem;
  font-size: 14px;
}
.lanacoin_logo_footer {
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-style: bold;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #006998 !important;
  letter-spacing: 3px;
}
footer ul li
{
  display: inline;
  padding-right: 5px;
}