{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<title>Latest news from ¡HOLA! Magazine - THE NATION </title>
{% endblock title %}
{% block container %}
<section class="container-fluid px-lg-5 px-md-3" style="background:#E0081D;">
	
		<div class="row pt-3 pb-2 py-0 py-md-5">
			<div class="col-sm-4 d-none d-sm-block">
				<div class="row">
					<div class="col-sm-12" style="color: #E0081D;">
						<button onclick="window.location.href='https://twitter.com/RevistaOhlala';" class="btn-s" href="#"><i style="width:19px;height: 15px;" class="fab fa-twitter"></i></button>
						<button onclick="window.location.href='https://www.facebook.com/ohlalarevista';" class="btn-s" href="#"><i style="width:19px;height: 15px;" class="fab fa-facebook-f"></i></button>
						<button onclick="window.location.href='https://www.instagram.com/revistaohlala/';" class="btn-s"href=""><i style="width:19px;height: 15px;" class="fab fa-instagram"></i></button>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row pt-3 pb-3">
					<div class="col-sm-6 col-6 offset-3 offset-sm-0">
						<p class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 220 105.814" style="width: 176px;height: 85px;">
                                <defs>
                                    <style>
                                        .cls-1 { fill: #bf0811; }
                
                                        .cls-2, .cls-3 { fill: #fff; }
                
                                        .cls-3 { fill-rule: evenodd; }
                                     </style>
                                </defs>
                                <g id="hola-2" data-name="hola">
                                    <g id="Capa_2" data-name="Capa 2">
                                        <g id="Layer_1" data-name="Layer 1">
                                            <g id="Vector">
                                                <path id="Path_67" data-name="Path 67" class="cls-1" d="M218.73,0H0V104.544H218.73Z" transform="translate(0.635 0.635)"></path>
                                                <path id="Path_68" data-name="Path 68" class="cls-2" d="M-.365-.365V-1H-1v.635Zm218.73,0H219V-1h-.635Zm0,104.544v.635H219v-.635Zm-218.73,0H-1v.635h.635ZM-.365.27h218.73V-1H-.365Zm218.1-.635V104.179H219V-.365Zm.635,103.909H-.365v1.27h218.73Zm-218.1.635V-.365H-1V104.179Z" transform="translate(1 1)"></path>
                                            </g>
                                            <g id="Vector-2" data-name="Vector" transform="translate(76.013 14.733)">
                                                <path id="Path_69" data-name="Path 69" class="cls-3" d="M34.059,6.772C29.687-.457,19.207-.385,13.324.288A15.631,15.631,0,0,0,5.562,2.963,13.121,13.121,0,0,0,0,12.825V40.083a17.18,17.18,0,0,0,6.836,13.4,21.29,21.29,0,0,0,19.686,1.6A17.3,17.3,0,0,0,36.142,39.6L36.2,15.174a14.882,14.882,0,0,0-2.142-8.4ZM20.888,38.94a2.383,2.383,0,0,1-1.481,2.353,3.873,3.873,0,0,1-2.29.063,2.9,2.9,0,0,1-1.909-2.2l.03-23.986a2.772,2.772,0,0,1,1.693-2.239,3.289,3.289,0,0,1,3.183.559,2.764,2.764,0,0,1,.808,1.761Z" transform="translate(0 0)"></path>
                                            </g>
                                            <g id="Vector-3" data-name="Vector" transform="translate(144.66 14.746)">
                                                <path id="Path_70" data-name="Path 70" class="cls-3" d="M33.259,0H10.467L0,56.716H14.348c.1,0,1.621-8.465,1.646-8.465H26.614s1.494,8.537,1.477,8.465,13.845,0,13.967,0C42.038,56.572,33.645.123,33.259,0ZM17.925,35.9c3.238-16.545,3.238-16.308,3.238-16.308S24.346,35.939,24.346,35.9,17.925,35.9,17.925,35.9Z"></path>
                                            </g>
                                            <g id="Vector-4" data-name="Vector" transform="translate(117.238 14.742)">
                                                <path id="Path_71" data-name="Path 71" class="cls-2" d="M14.945,41.9h9V56.716c-.042-.034-23.948,0-23.948,0V0H14.958V41.9"></path>
                                            </g>
                                            <g id="Vector-5" data-name="Vector" transform="translate(189.771 55.879)">
                                                <path id="Path_72" data-name="Path 72" class="cls-2" d="M0,7.752a7.763,7.763,0,1,1,2.273,5.5A7.763,7.763,0,0,1,0,7.752" transform="translate(0 -0.003)"></path>
                                            </g>
                                            <g id="Vector-6" data-name="Vector" transform="translate(190.177 14.64)">
                                                <path id="Path_73" data-name="Path 73" class="cls-2" d="M14.717,0H0V36.823H14.717Z"></path>
                                            </g>
                                            <g id="Vector-7" data-name="Vector" transform="translate(14.61 15.435)">
                                                <path id="Path_74" data-name="Path 74" class="cls-2" d="M15.526,7.773a7.763,7.763,0,1,1-2.273-5.5,7.763,7.763,0,0,1,2.273,5.5" transform="translate(0 0.003)"></path>
                                            </g>
                                            <g id="Vector-8" data-name="Vector" transform="translate(15.013 35.372)">
                                                <path id="Path_75" data-name="Path 75" class="cls-2" d="M14.717,0H0V36.823H14.717Z"></path>
                                            </g>
                                            <g id="Vector-9" data-name="Vector" transform="translate(35.71 15.897)">
                                                <path id="Path_76" data-name="Path 76" class="cls-2" d="M14.814,20.177h5.871L20.7,0H35.249V56.716H20.786V34.478H14.958l-.03,22.238H0V0H14.814Z"></path>
                                            </g>
                                            <g id="Vector-10" data-name="Vector" transform="translate(15.809 81.777)">
                                                <path id="Path_77" data-name="Path 77" class="cls-2" d="M5.727,0H7.733l5.722,12.956H11.428l-1.164-2.7H3.124L1.947,12.96H0ZM9.536,8.63,6.649,2.116,3.754,8.63Z"></path>
                                            </g>
                                            <g id="Vector-11" data-name="Vector" transform="translate(40.002 81.866)">
                                                <path id="Path_78" data-name="Path 78" class="cls-2" d="M5.926,7.915H1.909v4.952H0V0H6.349c3.64,0,5.028,1.337,5.028,3.877A3.632,3.632,0,0,1,7.923,7.8l3.238,5.079H9.087ZM6.349,6.3c1.947,0,3.069-.5,3.069-2.379S8.334,1.63,6.294,1.63H1.909V6.285Z"></path>
                                            </g>
                                            <g id="Vector-12" data-name="Vector" transform="translate(61.601 81.635)">
                                                <path id="Path_79" data-name="Path 79" class="cls-2" d="M0,6.655C0,2.016,2.582.018,7.2.018a7.619,7.619,0,0,1,5.384,1.668l-1.388,1.27a5.807,5.807,0,0,0-3.979-1.27c-3.568,0-5.265,1.617-5.265,4.969S3.314,11.708,7.2,11.708c3.551,0,4.4-1.27,4.4-3.809V7.527H6.988V5.944h6.556V7.56c0,3.543-1.16,5.727-6.408,5.727S0,11.023,0,6.655Z" transform="translate(0 0.006)"></path>
                                            </g>
                                            <g id="Vector-13" data-name="Vector" transform="translate(86.213 81.866)">
                                                <path id="Path_80" data-name="Path 80" class="cls-2" d="M.025,0H9.807V1.693H1.972v3.7H9.591V7.056H1.972v4.207H9.862V12.88H0Z"></path>
                                            </g>
                                            <g id="Vector-14" data-name="Vector" transform="translate(107.465 81.866)">
                                                <path id="Path_81" data-name="Path 81" class="cls-2" d="M.063,0H2.18l8.012,9.921V0H12.1V12.871H10.243L1.909,2.569v10.3H0Z"></path>
                                            </g>
                                            <g id="Vector-15" data-name="Vector" transform="translate(130.312 81.862)">
                                                <path id="Path_82" data-name="Path 82" class="cls-2" d="M5.248,1.693H0V0H12.465V1.693H7.2V12.871H5.248Z"></path>
                                            </g>
                                            <g id="Vector-16" data-name="Vector" transform="translate(153.693 81.866)">
                                                <path id="Path_83" data-name="Path 83" class="cls-2" d="M0,0H1.909V12.871H0Z"></path>
                                            </g>
                                            <g id="Vector-17" data-name="Vector" transform="translate(167.711 81.866)">
                                                <path id="Path_84" data-name="Path 84" class="cls-2" d="M0,0H2.116l8.012,9.921V0h1.909V12.871H10.243L1.909,2.569v10.3H0Z"></path>
                                            </g>
                                            <g id="Vector-18" data-name="Vector" transform="translate(190.482 81.777)">
                                                <path id="Path_85" data-name="Path 85" class="cls-2" d="M5.727,0H7.712l5.727,12.956h-2.01l-1.177-2.709H3.124L1.947,12.956H0ZM9.536,8.63,6.649,2.116,3.754,8.63Z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </p>

					</div>
				</div>
			</div>
		</div>
		
		<div class="row pb-5"></div>
	
</section>
<section class="container-fluid px-lg-5 px-md-3">
	
		<div class="row" style="margin-top: -2rem;">
			{% for i in cards %}   
			<div class="col-md-6 col-sm-12 pt-3 pt-md-0 px-0 px-md-3">
				<div class="card" style="box-shadow: -1px 6px 40px 4px rgba(0,0,0,.2);height: 100%;">
					<a title="{{i.title}}" href="#" class="img_hover-e figure" style="background: #E6E6E6;">
						<img class="d-flex justify-content-center align-items-center card-img-top"
							
							{% with i.cover_pic as img %}
							src="{% static img %}" style="height: auto;" alt="">
							{% endwith %}
								
					</a>
					<div class="card-body">
						<a title="{{i.title}}" href="#" class="black bluehover">
							<h4 class="card-title" style="font-family: suecaslabmedium,Georgia">
								{{i.title}}
							</h4>
						</a>
						<p class="card-text text-uppercase" style="font-size: 12px;">

							<a href="#" style="color: #E0081D;">{{i.topic}}</a>
						</p>

					</div>
				</div>
			</div>
			{%endfor%}
		</div>
	
</section>

<section class="container-fluid px-lg-5 px-md-3">
	<div class="row mt-0 mt-md-4">
		<div class="col-12 col-md-9">
			<div class="row">
				
				{% for x in data %}
					   
				<div class="col-12 col-md-4">
					
						<div class="card-body py-md-3 px-sm-0 px-0">
							<a href="#" class="black bluehover img_hover-e" title="{{x.title}}">
							{% with x.cover_pic as img %}
							<img class="card-img-bottom mt-4" src="{% static img %}" alt="recent">
							{% endwith %}
							<h5 class="card-title px-2 px-md-0" style="font-family: suecaslabmedium,Georgia">
								{{x.title}}
							</h5>
							 </a>
							 <p class="card-text text-uppercase" style="font-size: 12px;">

								<a href="#" style="color: #E0081D;">present</a>
							</p>
						</div>
					
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-sm-12 text-center text-uppercase pt-2 pb-2 mt-3 hi">
					<a class="btn btn__politics" href="#">SEE MORE NOTES FROM OHLALÁ Magazine! </a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="row">
				<div class="col hide1023">
					<div class="row pt-3 pb-3">
						<div class="col-12">
							<h5 class="text-uppercase" style="font-family: suecaslabmedium,Georgia">
							  most  <strong>read now</strong></h5>
						</div>
					</div>
					<ol class="steps">

						{% for y in more %}



						<li>
							<a href="#" class="black bluehover img_hover-e">
								<div class="card" style="border: none;">
									<div class="row no-gutters">
										<div class="col-md-8">
											<div class="py-2 pl-2 pr-1">
												<p class="card-text">

													{{y.title}}

												</p>
											</div>
										</div>
										<div class="col-md-4 pt-2">

											{% with y.cover_pic as img %}
											<img src="{% static img %}" class="card-img w-100" alt="...">
											{% endwith %}

										</div>
									</div>
								</div>
							</a>
						</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock container %}