{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<title>Holidays 2020 of Argentina. Calendar 2020 - LA NACION </title>
{% endblock title %}
{% block container %}
<section class="container-fluid px-lg-5 px-md-3 margin_t">
	<div class="row">
		<div class="col-12">

			<div class="row">
				<div class="col-md-9 col-12">
					<div class="row pb-3">
						<div class="col-12">
							<a class="text__top-calender1" href="{% url 'home' %}">THE NATION</a> |<a class="text__top-calender1"
								href="{% url 'holidays' %}"> Holidays 2020 </a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h1 style="font-family: SuecaSlab; font-weight: 400;"><span
									style="background: yellow;">Holidays 2020: </span> calendar</h1>
						</div>
					</div>
					<div class="row pt-3 pb-4">
						<div class="col-12">
							<h3 class="bajada">All non-working days of 2020 holidays, which are fixed
								holidays and why are those not worked days, which days could change, bridge
								holidays and why they are holidays for 2020. When is the long weekend in
								2020. Complete calendar with all the national dates of Argentina. </h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-9 col-lg-10 col-md-11 col-sm-12 text_box-c m-auto">
							<div class="row p-4">
								<div class="col-12 col-sm-3">
									<div class="row">
										<div class="col-12 ml-5 ml-sm-0">
											<div class="circle">
												<div style="width: 100px;height: 100px;position: relative;left:20px;">
													<span class="ctext-hc ">24</span>
													<p class="ctext-hb ">November</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-9 mt-3">
									<div class="row">
										<div class="col-11 offset-1">
											<h5 class="content_text-ch ">10 DAYS TO GO FOR THE NEXT HOLIDAY
											</h5>
											<p class="content_text-c">National Sovereign Day Build </p>
											<p><a href="https://escapadas.lanacion.com.ar/">your getaway trip </a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-4">
						<div
							class="col-xl-6 col-lg-8 col-md-10 col-sm-12  col sm-12 offset-xl-6 offset-lg-4 offset-md-2">
							<div class="row">
								<div class="col-4 text-nowrap">
									<p class="abtn_text">See other years</p>
								</div>
								<div class="col-8 content-justified-right">
									<a class="btn-custom-bg" href="#">2019</a>
									<a class="btn-custom-bg" href="#">2020</a>
									<a class="btn-custom-bg" href="#">2021</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row pt-3">
						<div class="col-12">
							<h3 class="atext_abc"><strong>2020 CALENDAR OF</strong> HOLIDAY ARGENTINA </h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-8 col-lg-10 col-md-12">
							<div class="row pl-2">
								<div class="col-4">
									<ul>
										<li class="inamovible">Immovable holidays</li>
									</ul>
								</div>
								<div class="col-4">
									<ul>
										<li class="lite_bg">Bridge holidays</li>
									</ul>
								</div>
								<div class="col-4">
									<ul>
										<li class="lite_bg2">Portable holidays </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row pl-3">
						<div class="col-12">
							<div class="row pt-4">
								<div class="col-12 col-md-6 col-lg-4">
									<div class="row mr-1 mr-md-0">
										<div class="col-12 calender_area ">
											<div class="row">
												<div class="col-12 text-center">
													<h4>
														<a class="month_name" href="#">January </a>
													</h4>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-12 calendario__mes title ">
													<ul>
														<li>D </li>
														<li>L </li>
														<li>M </li>
														<li>M </li>
														<li>J </li>
														<li>V </li>
														<li>S </li>
													</ul>
												</div>
											</div>
											<div class="row">
												<div class="col-12 calendario__mes">

													<ul>
														<li></li>
														<li></li>
														<li></li>
														<div class="immoveable round">
															<li>1 </li>
														</div>
														<div class="bridge round">
															<li>2 </li>
														</div>
														<div class="portable round">
															<li>3 </li>
														</div>
														<li>4 </li>
													</ul>
													<ul>
														<li>5 </li>
														<li>6 </li>
														<li>7 </li>
														<li>8 </li>
														<li>9 </li>
														<li>10 </li>
														<li>11 </li>
													</ul>
													<ul>
														<li>12 </li>
														<li>13 </li>
														<li>14 </li>
														<li>15 </li>
														<li>16 </li>
														<li>17 </li>
														<li>18 </li>
													</ul>
													<ul>
														<li>19 </li>
														<li>20 </li>
														<li>21 </li>
														<li>22 </li>
														<li>23 </li>
														<li>24 </li>
														<li>25 </li>
													</ul>
													<ul>
														<li>26 </li>
														<li>27 </li>
														<li>28 </li>
														<li>29 </li>
														<li>30 </li>
														<li>31 </li>
														<li></li>
													</ul>

												</div>
											</div>

										</div>
										<div class="col-12">
											<ul>
												<li>
													<div class="calendario__mes__eventos">
														<h3 class="--inamovible"><span class="badge">1
															</span>New Year. </h3>
													</div>
												</li>
												<li>
													<div class="calendario__mes__eventos">
														<h3 class="--inamovible"><span class="badge badge__bridge">2
															</span>New
															Year. </h3>
													</div>
												</li>
												<li>
													<div class="calendario__mes__eventos">
														<h3 class="--inamovible"><span class="badge badge__portable">3
															</span>New Year. </h3>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="row mt-5">
						<div class="col-12">
							<h3 class="claender_htext-c">Holidays<span
									style="background-color: #FFFF25;">Immovable</span></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<ul class="lista-feriados__header">
								<li>Date </li>
								<li>Day </li>
								<li>Commemoration </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>February 24th </li>
								<li>Monday </li>
								<li>Carnival. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>February 25</li>
								<li>Tuesda</li>
								<li>Carnival</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>March 24th </li>
								<li>Tuesday </li>
								<li>National Day of Memory for Truth and Justice.</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>March 31st </li>
								<li>Tuesday </li>
								<li>Veteran's Day and the Fallen in the Falklands War.</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>April 10th</li>
								<li>Friday </li>
								<li>Holy Friday. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>May 1st</li>
								<li>Friday</li>
								<li>Labor Day</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>25 of May</li>
								<li>Monday </li>
								<li>May Revolution Day. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>June 20th </li>
								<li>Saturday </li>
								<li>Step to the Immortality of General Manuel Belgrano. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>July 9th </li>
								<li>Thursday </li>
								<li>Independence Day. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>December 8 </li>
								<li>Tuesday </li>
								<li>Immaculate Conception.</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>December 25th </li>
								<li>Friday </li>
								<li>Christmas.</li>
							</ul>
						</div>
					</div>
					<!-- 2nd chart -->
					<div class="row pt-5 pb-2">
						<div class="col-12">
							<h3 class="claender_htext-c">Holidays  <span
									style="background-color: #FFFF25;">Movable</span></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<ul class="lista-feriados__header">
								<li>Date </li>
								<li>Day </li>
								<li>Commemoration </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>June, 15 </li>
								<li>Monday </li>
								<li>Step to the Immortality of Gral. Güemes. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>August 17 </li>
								<li>Monday </li>
								<li>Passage to the Immortality of General José de San Martín.</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>October 12 ° </li>
								<li>Monday </li>
								<li>Day of Respect for Cultural Diversity. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>November 23</li>
								<li>Monday </li>
								<li>National Sovereignty Day </li>
							</ul>
						</div>
					</div>
					<!-- 3rd list item -->
					<div class="row pt-5 pb-2">
						<div class="col-12">
							<h3 class="claender_htext-c">Days <span style="background-color: #FFFF25;">No
									workdays</span></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<ul class="lista-feriados__header">
								<li>Date </li>
								<li>Day </li>
								<li>Commemoration </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9 ">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>April 9th </li>
								<li>Thursday </li>
								<li>Holy Thursday. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9; ">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>May 1st</li>
								<li>Friday</li>
								<li>Labor Day</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>September 18 </li>
								<li>Friday </li>
								<li>Jewish New Year. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>September 19th </li>
								<li>Saturday </li>
								<li>Jewish New Year. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>September 20 </li>
								<li>Sunday </li>
								<li>Jewish New Year. </li>
							</ul>
						</div>
					</div>
					<!-- 4th section -->
					<div class="row pt-5 pb-2">
						<div class="col-12">
							<h3 class="claender_htext-c">Holidays
								<span style="background-color:#FFFF25;">Bridges
								</span>
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<ul class="lista-feriados__header">
								<li>Date </li>
								<li>Day </li>
								<li>Commemoration </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9; ">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>April 9th </li>
								<li>Thursday </li>
								<li>Holy Thursday. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom:1px solid #D9D9D9;">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>May 1st</li>
								<li>Friday</li>
								<li>Labor Day</li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9; ">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>September 18 </li>
								<li>Friday </li>
								<li>Jewish New Year. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9; ">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>September 19th </li>
								<li>Saturday </li>
								<li>Jewish New Year. </li>
							</ul>
						</div>
					</div>
					<div class="row pb-0" style="border-bottom: 1px solid #D9D9D9; ">
						<div class="col-12">
							<ul class="lista-feriados__item">
								<li>September 20 </li>
								<li>Sunday </li>
								<li>Jewish New Year. </li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</section>

{% endblock container %}