{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<title>Latest news from Argentina and the world - LA NACION</title>
{% endblock title %}
{% block container %}
<section id="sub-header">
    <div class="container-fluid px-lg-5 px-md-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 currency">
                <a style="font-weight: 700;" href="#">Dollar</a> <strong>BNA: $ 76.75 / $ 82.75</strong>
                <a style="color: black;padding-left: 2px;" href="#"> Blue:</a> <strong>$ 177.00 / $ 183.00</strong>
            </div>
            <div class="col-lg-3 text-center weather hide991">
                <a href="#">
                    <strong>17.3°</strong> <span>Capital Federal</span>
                </a>
            </div>
            <div class="col-lg-2 Newsletters hide991">
                <a href="#">I received Newsletters</a>
            </div>
            <div class="col-lg-3 col-6 text-right club hide767">
                <a href="#">I discovered your benefits</a>
            </div>
        </div>
    </div>
</section>
<section class="recent-news">
    <div class="container-fluid px-lg-5 px-md-2 px-sm-0 px-0">
        <div class="row">
            <div class="col-lg-9">
                <section id="section-top-news">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-tablet">
                            <a href="#" title="Strong march in Entre Ríos after Etchevehere's complaint">
                                <div class="card big-image">
                                    <div class="card-body py-md-0 pr-md-4 pr-sm-0 pl-sm-0 px-0">
                                        <h1 class="title">
                                            <em class="highlight">Land grab. </em>
                                            Strong march in Entre Ríos after Etchevehere's complaint
                                        </h1>
                                        <p class="card-text text-muted mb-2">Producers from the province are
                                            mobilized in Santa
                                            Elena, in front of the former official's field; they went there to
                                            reject the
                                            usurpation

                                        </p>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
                                        <img class="card-img-bottom mt-4" src="{% static 'images/recent-1.webp' %}" alt="recent">
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hide767">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section id="section-present-news">
                    <div class="row">
                        <div class="col ">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Present</h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-0 px-sm-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </section>
                <section id="section-more-news">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <h3 class="title text-uppercase">More News</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section id="section-opinion">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <h3 class="title text-uppercase">Opinion</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" style="border:1px solid #ccc" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            Massive and mandatory.
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image mt-3 mx-3 mx-md-0" style="border:1px solid #ccc">
                                            <div class="card-body py-md-2 px-2">
                                                
                                                <h2 class="title">
                                                    The vaccination plan that the Government plans at the end of the year
                                                </h2>
                                                <img class="card-img-top" style="border-radius: 50%;width: 50px;height:50px" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image mt-3 mx-3 mx-md-0">
                                            <div class="card-body py-md-2 px-2" style="border:1px solid #ccc">
                                               
                                                <h2 class="title">
                                                   Massive and mandatory.
                                                    The vaccination plan that the Government plans at the end of the year
                                                </h2>
                                                <img class="card-img-top" style="border-radius: 50%;width: 50px;height:50px;" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                           
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="hide767">
                </section>
                <section id="section-editorials" class="px-2 px-md-0">
                    <div class="border-edit py-4 py-md-0 px-2 px-md-0">
                        <div class="row">
                            <div class="col-md-2">
                                <h2 class="title text-uppercase"><a class="black" href="#">Editorials</a></h2>                          
                            </div>
                            <div class="col-md-10">
                                &#9679; <a class="black" style="color: #000000;" href="#">History and the Supreme Court: Do not repeat mistakes</a> 
                            </div>
                        </div>
                    </div>

                    <hr class="hide767">
                </section>
                <section id="section-otherthemes">
                    <div class="row">
                        <div class="col ">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Other Themes</h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-0 px-sm-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </section>
                <section id="section-itmayinterestyou-news">
                    <div class="row">
                        <div class="col ">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">It may interest you</h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-0 px-sm-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </section>
                
            </div>
            <div class="col-lg-3 sidebar_aside">

            </div>
        </div>

    </div>
</section>
<section id="section-the-most-read">
    <div class="container-fluid px-lg-5 px-md-2 px-sm-0 px-0">
        <div class="row">
            <div class="col ">
                <div class="article-header">
                    <a href="#">
                        <h3 class="title text-uppercase">The Most Read</h3>
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                    <div class="card small-image">
                        <div class="card-body py-md-3 px-0 px-sm-0">
                            <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                            <h2 class="title">
                                <em class="highlight">Massive and mandatory. </em>
                                The vaccination plan that the Government plans at the end of the year
                            </h2>
                            <strong class="author" title="By Jaime Rosemberg ">
                                By Jaime Rosemberg
                            </strong>

                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                    <div class="card small-image">
                        <div class="card-body py-md-3 px-0 px-sm-0">
                            <img class="card-img-top" src="{% static 'images/3452987h850.webp' %}" alt="Card image cap">
                            <div style="position: absolute;background: #006998;color:#fff;width: 100px;left:1rem;bottom: 7rem;padding:2px 4px;">
                                Content Lab
                            </div>
                            <div style="position: absolute;background: #fff;width: 328px;left:1rem;bottom: 2rem;padding: 1rem;">
                                <h2 class="title">
                                    <em class="highlight">Deco</em>
                                
                                    What's new in partitions
                                </h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="recent-news">
    <div class="container-fluid px-lg-5 px-md-2 px-sm-0 px-0">
        <div class="row">
            <div class="col-lg-9">
                <section id="section-politics">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Politics</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-0 px-sm-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
            
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="hide767">
                </section>
                <section id="section-business-community">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Business community </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-tablet">
                            <a href="#" title="Strong march in Entre Ríos after Etchevehere's complaint">
                                <div class="card big-image">
                                    <div class="card-body py-md-0 pr-md-4 pr-sm-0 pl-sm-0 px-0">
                                        <h1 class="title">
                                            <em class="highlight">Land grab. </em>
                                            Strong march in Entre Ríos after Etchevehere's complaint
                                        </h1>
                                        <p class="card-text text-muted mb-2">Producers from the province are
                                            mobilized in Santa
                                            Elena, in front of the former official's field; they went there to
                                            reject the
                                            usurpation

                                        </p>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
                                        <img class="card-img-bottom mt-4" src="{% static 'images/recent-1.webp' %}" alt="recent">
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hide767">
                </section>
                <section id="section-shows">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Shows </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-tablet">
                            <a href="#" title="Strong march in Entre Ríos after Etchevehere's complaint">
                                <div class="card big-image">
                                    <div class="card-body py-md-0 pr-md-4 pr-sm-0 pl-sm-0 px-0">
                                        <h1 class="title">
                                            <em class="highlight">Land grab. </em>
                                            Strong march in Entre Ríos after Etchevehere's complaint
                                        </h1>
                                        <p class="card-text text-muted mb-2">Producers from the province are
                                            mobilized in Santa
                                            Elena, in front of the former official's field; they went there to
                                            reject the
                                            usurpation

                                        </p>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
                                        <img class="card-img-bottom mt-4" src="{% static 'images/recent-1.webp' %}" alt="recent">
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hide767">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="hide767">
                </section>
                <section id="section-sports">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Sports</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-tablet">
                            <a href="#" title="Strong march in Entre Ríos after Etchevehere's complaint">
                                <div class="card big-image">
                                    <div class="card-body py-md-0 pr-md-4 pr-sm-0 pl-sm-0 px-0">
                                        <h1 class="title">
                                            <em class="highlight">Land grab. </em>
                                            Strong march in Entre Ríos after Etchevehere's complaint
                                        </h1>
                                        <p class="card-text text-muted mb-2">Producers from the province are
                                            mobilized in Santa
                                            Elena, in front of the former official's field; they went there to
                                            reject the
                                            usurpation

                                        </p>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
                                        <img class="card-img-bottom mt-4" src="{% static 'images/recent-1.webp' %}" alt="recent">
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hide767">
                </section>
                <section id="section-podcasts">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Podcasts</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-tablet">
                            <a href="#" title="Strong march in Entre Ríos after Etchevehere's complaint">
                                <div class="card big-image">
                                    <div class="card-body py-md-0 pr-md-4 pr-sm-0 pl-sm-0 px-0">
                                        <h1 class="title">
                                            <em class="highlight">Land grab. </em>
                                            Strong march in Entre Ríos after Etchevehere's complaint
                                        </h1>
                                        <p class="card-text text-muted mb-2">Producers from the province are
                                            mobilized in Santa
                                            Elena, in front of the former official's field; they went there to
                                            reject the
                                            usurpation

                                        </p>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
                                        <img class="card-img-bottom mt-4" src="{% static 'images/recent-1.webp' %}" alt="recent">
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hide767">
                </section>
                <section id="section-lifestyle">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Lifestyle</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-tablet">
                            <a href="#" title="Strong march in Entre Ríos after Etchevehere's complaint">
                                <div class="card big-image">
                                    <div class="card-body py-md-0 pr-md-4 pr-sm-0 pl-sm-0 px-0">
                                        <h1 class="title">
                                            <em class="highlight">Land grab. </em>
                                            Strong march in Entre Ríos after Etchevehere's complaint
                                        </h1>
                                        <p class="card-text text-muted mb-2">Producers from the province are
                                            mobilized in Santa
                                            Elena, in front of the former official's field; they went there to
                                            reject the
                                            usurpation

                                        </p>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
                                        <img class="card-img-bottom mt-4" src="{% static 'images/recent-1.webp' %}" alt="recent">
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hide767">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section id="section-hashtag">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <h3 class="title text-uppercase">#hashtag</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 sidebar_aside">

            </div>
        </div>
    </div>
</section>
{% endblock container %}

{% block footer %}
    <div class="row hide767">
       <div class="col">
            <ul style="font-weight: 700;">
                <li>
                    <a class="shadeblue" href="#">Last News  </a>
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Politics</a>
                    
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Economy</a>
                    
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">The world</a>
                    
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Society</a>
                    
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Opinion</a>
                    
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">sports</a>
                    
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Lifestyle</a>
                    
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Shows</a>
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Print edition</a>
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">LN+</a>
                    
                </li>
                <li>
                    <a href="#" class="shadeblue">Club LA NACION</a>
                     
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>
                    Wine Club: 
                    <a href="#" class="shadeblue">Bon Vivir</a>
                </li>
                <li>
                    Shipments:
                    <a href="#" class="shadeblue">HOP</a>
                </li>
                <li>
                    <a href="#" class="shadeblue">Collections</a>
                </li>
                <li>
                    <a href="#" class="shadeblue">Master in journalism</a>
                </li>
                <li>
                    <a href="#" class="shadeblue">LA NACION Foundation</a>
                </li>
                <li>
                    <a href="#" class="shadeblue">Solidarity notices </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row hide767">
        <div class="col">
            <ul>
                <li>Journals</li>
                <li class="text-uppercases"><a href="#" class="shadeblue">AWESOME!</a></li>
                <li class="text-uppercases"><a href="#" class="shadeblue">HELLO!</a></li>
                <li class="text-uppercases"><a href="#" class="shadeblue">ROLLING STONE</a></li>
                <li class="text-uppercases"><a href="#" class="shadeblue">LIVING</a></li>
                <li class="text-uppercases"><a href="#" class="shadeblue">BRANDO</a></li>
                <li class="text-uppercases"><a href="#" class="shadeblue">YARD</a></li>
                <li class="text-uppercases"><a href="#" class="shadeblue">PLACES</a></li>
            </ul>
            
        </div>
    </div>
    <hr class="hide767">
{% endblock footer %}
    