{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<title>Latest news from Argentina and the world - LA NACION</title>
{% endblock title %}
{% block container %}
<section id="sub-header">
    <div class="container-fluid px-lg-5 px-md-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 currency">
                <a style="font-weight: 700;" href="#">Dollar</a> <strong>BNA: $ 76.75 / $ 82.75</strong>
                <a style="color: black;padding-left: 2px;" href="#"> Blue:</a> <strong>$ 177.00 / $ 183.00</strong>
            </div>
            <div class="col-lg-3 text-center weather hide991">
                <a href="#">
                    <strong>17.3°</strong> <span>Capital Federal</span>
                </a>
            </div>
            <div class="col-lg-2 Newsletters hide991">
                <a href="#">I received Newsletters</a>
            </div>
            <div class="col-lg-3 col-6 text-right club hide767">
                <a href="#">I discovered your benefits</a>
            </div>
        </div>
    </div>
</section>
<section class="recent-news">
    <div class="container-fluid px-lg-5 px-md-2 px-sm-0 px-0">
        <div class="row">
            <div class="col-lg-9">
                <section id="section-top-news">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-tablet">
                            <a href="#" title="Strong march in Entre Ríos after Etchevehere's complaint">
                                <div class="card big-image">
                                    <div class="card-body py-md-0 pr-md-4 pr-sm-0 pl-sm-0 px-0">
                                        <h1 class="title">
                                            <em class="highlight">Land grab. </em>
                                            Strong march in Entre Ríos after Etchevehere's complaint
                                        </h1>
                                        <p class="card-text text-muted mb-2">Producers from the province are
                                            mobilized in Santa
                                            Elena, in front of the former official's field; they went there to
                                            reject the
                                            usurpation

                                        </p>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>
                                        <img class="card-img-bottom mt-4" src="{% static 'images/recent-1.webp' %}" alt="recent">
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a href="#"
                                        title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image">
                                            <div class="card-body py-md-0 px-sm-0 px-0">
                                                <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}"
                                                    alt="Card image cap">
                                                <h2 class="title">
                                                    <em class="highlight">Massive and mandatory. </em>
                                                    The vaccination plan that the Government plans at the end of the
                                                    year
                                                </h2>
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                <hr class="hide767">
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="hide767">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section id="section-present-news">
                    <div class="row">
                        <div class="col ">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Present</h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-0 px-sm-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </section>
                <section id="section-more-news">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <h3 class="title text-uppercase">More News</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section id="section-opinion">
                    <div class="row">
                        <div class="col">
                            <div class="article-header">
                                <h3 class="title text-uppercase">Opinion</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" style="border:1px solid #ccc" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            Massive and mandatory.
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image mt-3 mx-3 mx-md-0" style="border:1px solid #ccc">
                                            <div class="card-body py-md-2 px-2">
                                                
                                                <h2 class="title">
                                                    The vaccination plan that the Government plans at the end of the year
                                                </h2>
                                                <img class="card-img-top" style="border-radius: 50%;width: 50px;height:50px" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                        <div class="card small-image mt-3 mx-3 mx-md-0">
                                            <div class="card-body py-md-2 px-2" style="border:1px solid #ccc">
                                               
                                                <h2 class="title">
                                                   Massive and mandatory.
                                                    The vaccination plan that the Government plans at the end of the year
                                                </h2>
                                                <img class="card-img-top" style="border-radius: 50%;width: 50px;height:50px;" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                                <strong class="author" title="By Jaime Rosemberg ">
                                                    By Jaime Rosemberg
                                                </strong>
                                                
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-sm-0 px-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                           
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="hide767">
                </section>
                <section id="section-editorials" class="px-2 px-md-0">
                    <div class="border-edit py-4 py-md-0 px-2 px-md-0">
                        <div class="row">
                            <div class="col-md-2">
                                <h2 class="title text-uppercase"><a class="black" href="#">Editorials</a></h2>                          
                            </div>
                            <div class="col-md-10">
                                &#9679; <a class="black" style="color: #000000;" href="#">History and the Supreme Court: Do not repeat mistakes</a> 
                            </div>
                        </div>
                    </div>

                    <hr class="hide767">
                </section>
                <section id="section-otherthemes">
                    <div class="row">
                        <div class="col ">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">Other Themes</h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-0 px-sm-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </section>
                <section id="section-itmayinterestyou-news">
                    <div class="row">
                        <div class="col ">
                            <div class="article-header">
                                <a href="#">
                                    <h3 class="title text-uppercase">It may interest you</h3>
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" title="The vaccination plan that the Government plans at the end of the year">
                                <div class="card small-image">
                                    <div class="card-body py-md-3 px-0 px-sm-0">
                                        <img class="card-img-top" src="{% static 'images/3449885h186.webp' %}" alt="Card image cap">
                                        <h2 class="title">
                                            <em class="highlight">Massive and mandatory. </em>
                                            The vaccination plan that the Government plans at the end of the year
                                        </h2>
                                        <strong class="author" title="By Jaime Rosemberg ">
                                            By Jaime Rosemberg
                                        </strong>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </section>
                
            </div>
            <div class="col-lg-3 sidebar_aside">

            </div>
        </div>

    </div>
</section>
{% endblock container %}