{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<title>Chinese horoscope 2020 - {{x.animal}} - LA NACION </title>
{% endblock title %}
{% block container %}
<section class="container-fluid px-lg-5 px-md-3 margin_t chineese">
    <div class="row">

        <div class="col-12 col-md-8 col-lg-9">
            <div class="row hide767">
                <div class="col-12 mt-3 mb-3 sub__heading-politics hide767">
                    <a href="{% url 'home' %}"> THE NATION | </a>
                    <a href="{% url 'chineese_horoscope' %}">Chinese horoscope | </a>
                    <a href="{% url 'chineese_horoscope_inside' value=x.animal %}">{{x.animal}}</a>
        
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6 col-12 heading__main-politics">
                    <h1>Chinese horoscope <span style="background-color: #ffff25;">{{x.animal}}</span> </h1>
                    
                </div>
                <div class="col-md-6 col-12 share_cal text-left text-md-right">

                    <ul>
                        <li><a href="#"><span class="icon_cal"><i
                                        class="far fa-comment icon__calender"></i></span>Comment</a>
                        </li>
                        <li><a href="#"><span class="icon_cal"><i
                                        class="fab fa-facebook-square icon__calender"></i></span>Facebook</a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon_cal">
                                    <i class="fab fa-twitter icon__calender"></i>
                                </span>twitter
                            </a>
                        </li>


                    </ul>

                </div>
            </div>

            <div class="row pl-lg-2">
                <div class="col-12">
                    <div class="row ">
                        <div class="custom_tap-content horoscope">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-sm-3 col-12 ">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="horoscope_img {{x.animal}}">
                                                    <div class="zoomCrazy">

                                                    </div>

                                                </div>
                                                <p class="text-uppercase" style="font-size: 16px;">Years <strong > {{x.animal}} </strong> </p>
                                                <p style="font-size: 16px;">{{x.years}}</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-9 col-12">
                                        <h2>WHAT IS EXPECTED FOR <strong>THIS YEAR </strong></h2>
                                        <div class="description">
                                            <p>
                                                {{x.this_year}}
                                            </p>
                                        </div>
                                        <h2>CHARACTERISTICS <span style="background-color: yellow;">{{x.animal}}</span></h2>
                                        <div class="description">
                                            <p>
                                                {{x.character}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="custom_tap-content newslatter">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 ">
                                        <div style="display: inline block;">
                                            <h3>
                                                <span class="mail_icon"></span>
                                                <strong style="position: absolute;top: 6px;"> Daily
                                                    horoscope</strong>


                                            </h3>
                                            <span class="ml-0 ml-md-5" style="font-size: 14px;">
                                                I received your horoscope every day in your e-mail
                                            </span>

                                        </div>
                                    </div>

                                </div>
                                <div class="row mb-5">


                                    <div class="col-12 col-md-6 mt-3">
                                        <input type="email" name="" id="email" placeholder="Enter your mail"
                                            class="form-control">
                                    </div>
                                    <div class="col-12 col-md-6 mt-3">
                                        <a class="btn btn-primary" href="#" role="button">RECEIVE THE NEWSLETTER
                                        </a>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>

        </div>
        <div class="col-md-4 col-lg-3 hide767">
            <div class="row">
                <div class="col">
                    <a href="{% url 'horoscope' %}" class="black">
                        <div class="card mt-3 horoscope-side-bg">

                            <div class="card-body">
                                <h4>
                                    horoscope
                                    <strong>ZODIAC</strong>
                                </h4>

                                <p><span style="background-color: yellow;">See all the signs ></span> </p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock container %}