{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<title>Latest news from OHLALÁ Magazine! - THE NATION </title>
{% endblock title %}
{% block container %}
<section class="container-fluid px-lg-5 px-md-3" style="background:#e61f63;">
	
		<div class="row pt-3 pb-2">
			<div class="col-sm-4 d-none d-sm-block">
				<div class="row">
					<div class="col-sm-12" style="color: #e61f63;">
						<button onclick="window.location.href='https://twitter.com/RevistaOhlala';" class="btn-s" href="#"><i style="width:19px;height: 15px;" class="fab fa-twitter"></i></button>
						<button onclick="window.location.href='https://www.facebook.com/ohlalarevista';" class="btn-s" href="#"><i style="width:19px;height: 15px;" class="fab fa-facebook-f"></i></button>
						<button onclick="window.location.href='https://www.instagram.com/revistaohlala/';" class="btn-s"href=""><i style="width:19px;height: 15px;" class="fab fa-instagram"></i></button>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row pt-3 pb-3">
					<div class="col-sm-6 col-6 offset-3 offset-sm-0">
						<p>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 345.928 84.923">
								<defs>
									<style>
										.cls-1 {
											fill: #fff;
										}
									</style>
								</defs>
								<g id="logo-revistas" transform="translate(0 0)">
									<path id="Path_140" data-name="Path 140" class="cls-1"
										d="M38.066,9.169c22.252,0,38.161,17.341,38.161,37.411S60.439,83.991,37.991,83.991C15.25,83.991,0,65.967,0,47.453A40.658,40.658,0,0,1,2.835,32.06,37.509,37.509,0,0,1,38.066,9.169Zm.294,58.654c13.077,0,19.426-11.888,19.426-21.145,0-9.354-6.331-21.34-19.616-21.34-12.8,0-19.748,10.911-19.748,21.047,0,11.107,7.517,21.438,19.909,21.438Z"
										transform="translate(0 0.932)"></path>
									<path id="Path_141" data-name="Path 141" class="cls-1"
										d="M71.412,10.4H89.859V37.491h20.8V10.4h18.446V82.5H110.661V53.665h-20.8V82.5H71.412Z"
										transform="translate(7.261 1.058)"></path>
									<path id="Path_142" data-name="Path 142" class="cls-1"
										d="M196.2,10.431,158.5,66.355H146.873V10.431H128.454V82.5h40.055l7.028-10.423h23.426V82.5h18.349V10.431Zm2.734,47.058H185.368l13.566-20.07Z"
										transform="translate(13.061 1.061)"></path>
									<path id="Path_143" data-name="Path 143" class="cls-1"
										d="M315.54,61.121H298.849V10.431H315.54Zm0,21.38H298.849V65.936H315.54Z"
										transform="translate(30.386 1.061)"></path>
									<path id="Path_144" data-name="Path 144" class="cls-1"
										d="M289.053,0l-4.484,6.648h17.785V0ZM243.582,67.387h-11.4v-55.9H213.761v72.07H253.58l7.028-10.423h23.421V83.562h18.35V11.451H281.322Zm40.434-8.866H270.439l13.566-20.07Z"
										transform="translate(21.734 0)"></path>
								</g>
							</svg>
						</p>

					</div>
				</div>
			</div>
		</div>
		<div class="row pb-5">
			<div class="col-sm-12 d-none d-md-block">
				<ul class="nav justify-content-center nav-body font-weight-bold">
					<li class="nav-item custom_pc">
						<a class="nav-link" href="#">Healthy kitchen</a>
					</li>
					<li class="nav-item custom_pc">
						<a class="nav-link" href="#">OHLALÁ! Travels</a>
					</li>
					<li class="nav-item custom_pc">
						<a class="nav-link" href="#">OHLALÁ! Makers</a>
					</li>
					<li class="nav-item custom_pc">
						<a class="nav-link" href="#">OHLALÁ Factory! </a>
					</li>
					<li class="nav-item custom_pc">
						<a class="nav-link" href="#">OH DEAR! Fest  </a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row pb-5"></div>
	
</section>
<section class="container-fluid px-lg-5 px-md-3">
	
		<div class="row" style="margin-top: -2rem;">
			{% for i in cards %}   
			<div class="col-md-6 col-sm-12 pt-3 pt-md-0">
				<div class="card" style="box-shadow: -1px 6px 40px 4px rgba(0,0,0,.2);height: 100%;">
					<a title="{{i.title}}" href="#" class="img_hover-e figure" style="background: #E6E6E6;height: 407px;">
						<img class="d-flex justify-content-center align-items-center card-img-top"
							
							{% with i.cover_pic as img %}
							src="{% static img %}" style="height: auto;" alt="">
							{% endwith %}
								
					</a>
					<div class="card-body">
						<a title="{{i.title}}" href="#" class="black bluehover">
							<h4 class="card-title" style="font-family: suecaslabmedium,Georgia">
								{{i.title}}
							</h4>
						</a>
						<p class="card-text text-uppercase" style="font-size: 12px;">

							<a href="#" style="color: #e61f63;">{{i.topic}}</a>
						</p>

					</div>
				</div>
			</div>
			{%endfor%}
		</div>
	
</section>
<section class="container-fluid px-lg-5 px-md-3">
	<div class="banner mt-5 awesome">
		<div class="px-3 py-3">
			<div class="row">
				<div class="col">
					<h2 class="title">
						Know our
				</h2>
			</div>
			</div>
			<div class="row">
				<div class="col">
					<h2 class="title">School of entrepreneurs </h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn__politics">Join Here</a>
	
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid px-lg-5 px-md-3">
	<div class="row mt-0 mt-md-4">
		<div class="col-9">
			<div class="row">
				
				{% for x in data %}
					   
				<div class="col-12 col-md-4">
					
						<div class="card-body py-md-3 px-sm-0 px-0">
							<a href="#" class="black bluehover img_hover-e" title="{{x.title}}">
							{% with x.cover_pic as img %}
							<img class="card-img-bottom mt-4" src="{% static img %}" alt="recent">
							{% endwith %}
							<h5 class="card-title px-2 px-md-0" style="font-family: suecaslabmedium,Georgia">
								{{x.title}}
							</h5>
							 </a>
							 <p class="card-text text-uppercase" style="font-size: 12px;">

								<a href="#" style="color: #e61f63;">present</a>
							</p>
						</div>
					
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-sm-12 text-center text-uppercase pt-2 pb-2 mt-3 awesome">
					<a class="btn btn__politics" href="#">SEE MORE NOTES FROM OHLALÁ Magazine! </a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="row">
				<div class="col hide1023">
					<div class="row pt-3 pb-3">
						<div class="col-12">
							<h5 class="text-uppercase" style="font-family: suecaslabmedium,Georgia">
							  most  <strong>read now</strong></h5>
						</div>
					</div>
					<ol class="steps">

						{% for y in more %}



						<li>
							<a href="#" class="black bluehover img_hover-e">
								<div class="card" style="border: none;">
									<div class="row no-gutters">
										<div class="col-md-8">
											<div class="py-2 pl-2 pr-1">
												<p class="card-text">

													{{y.title}}

												</p>
											</div>
										</div>
										<div class="col-md-4 pt-2">

											{% with y.cover_pic as img %}
											<img src="{% static img %}" class="card-img w-100" alt="...">
											{% endwith %}

										</div>
									</div>
								</div>
							</a>
						</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock container %}