{% extends 'head_foot.html' %}
{% load static %}
{% block title %}

<title>Latest news - LA NACION</title>
{% endblock title %}
{% block container %}
<section class="container mx-5">
    <div class="row">
        <div class="col-md-10 col-sm-11 p-0">
            <div class="row p-0">
                <div class="col-12 mt-3 mb-3 sub__heading-politics p-0">
                    <a href="{% url 'home' %}"> THE NATION |  </a><span style="color: grey;">Politics</span>
                </div>
                <div class="col-12 heading__main-politics p-0">
                    <h1 class="pl-0">Last News</h1>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-10 col-md-8 page__divider-ver">
                    <div class="row">
                        <div class="col-12 cuerpo">
                            <div class="hora">11:57 </div>
                            <div class="card" style="border-color: transparent;">
                                <div class="row no-gutters">
                                    <div class="col-md-5">
                                        <a class="img_hover-e" href="#"><img src="{% static 'images/3451003h200.png' %}"
                                                class="card-img w-100" alt="..."></a>
                                    </div>
                                    <div class="col-md-7 pt-0">
                                        <div class="card-body pt-0">
                                            <h5 class="card-title article__heading-politics"><a href="#">Lady's gambit.
                                                    The world's No. 1 opinion on the series and a crude message </a>
                                            </h5>
                                            <p class="card-text" style="font-size: 12px;"><a href="#">PRESENT</a></p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 cuerpo pt-5">
                            <div class="hora">11:57 </div>
                            <div class="card" style="border-color: transparent;">
                                <div class="row no-gutters">
                                    <div class="col-md-5">
                                        <a class="img_hover-e" href="#"><img src="{% static 'images/3451003h200.png' %}"
                                                class="card-img w-100" alt="..."></a>
                                    </div>
                                    <div class="col-md-7 pt-0">
                                        <div class="card-body pt-0">
                                            <h5 class="card-title article__heading-politics"><a href="#">Lady's gambit.
                                                    The world's No. 1 opinion on the series and a crude message </a>
                                            </h5>
                                            <p class="card-text" style="font-size: 12px;"><a href="#">PRESENT</a></p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 cuerpo pt-5">
                            <div class="hora">11:57 </div>
                            <div class="card" style="border-color: transparent;">
                                <div class="row no-gutters">
                                    <div class="col-md-5">
                                        <a class="img_hover-e" href="#"><img src="{% static 'images/3451003h200.png' %}"
                                                class="card-img w-100" alt="..."></a>
                                    </div>
                                    <div class="col-md-7 pt-0">
                                        <div class="card-body pt-0">
                                            <h5 class="card-title article__heading-politics"><a href="#">Lady's gambit.
                                                    The world's No. 1 opinion on the series and a crude message </a>
                                            </h5>
                                            <p class="card-text" style="font-size: 12px;"><a href="#">PRESENT</a></p>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 hide767">
                    <div class="row pt-3 pb-3">
                        <div class="col-12">
                            <h5 class="text-uppercase">Most <strong>read now</strong> </h5>
                        </div>
                    </div>
                    <ol class="steps">
                        <li>
                            <div class="card" style="border: none;">
                                <div class="row no-gutters img_hover-e">
                                    <div class="col-md-8">
                                        <div class="py-2 pl-2 pr-1">
                                            <p class="card-text"><a href="#" class="black">The minimum wage will increase by 28%, far
                                                    from the expectations of the unions</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <img src="{% static 'images/3275561h134.jpg' %}" class="card-img w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="card" style="border: none;">
                                <div class="row no-gutters img_hover-e">
                                    <div class="col-md-8">
                                        <div class="py-2 pl-2 pr-1">
                                            <p class="card-text"><a href="#" class="black">The minimum wage will increase by 28%, far
                                                    from the expectations of the unions</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pt-2">
                                        <img src="{% static 'images/3275561h134.jpg' %}" class="card-img w-100" alt="...">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock container%}