<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Últimas noticias de Política - LA NACION</title>
		<link rel="stylesheet" type="text/css" href="css/all.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/responsive.css" />
	</head>
	<body>
		<section class="content__area-politics">
			<div class="row m-auto">
				<div class="col-md-10 col-sm-11 m-auto">
					<div class="row">
						<div class="col-12 mt-3 mb-3 sub__heading-politics">
							<a href="#"> THE NATION | Politics </a>
						</div>
						<div class="col-12 heading__main-politics">
							<h1>Politics</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-sm-12">
							<div class="row">
								<div class="col-xl-7 col-lg-9 col-md-12">
									<div class="row page__divider-ver">
										<div class="col-12">
											<div class="row mt-3">
												<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
													<div class="row no-gutters">
														<div class="col-md-4 pt-2">
															<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
														</div>
														<div class="col-md-8">
															<div class="card-body">
																<h5 class="card-title article__heading-politics"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></h5>
																<p class="card-text"><a href="#">PRESENT</a></p>
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<div class="row mt-3">
												<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
													<div class="row no-gutters">
														<div class="col-md-4 pt-2">
															<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
														</div>
														<div class="col-md-8">
															<div class="card-body">
																<h5 class="card-title article__heading-politics"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></h5>
																<p class="card-text"><a href="#">PRESENT</a></p>
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row mt-3">
												<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
													<div class="row no-gutters">
														<div class="col-md-4 pt-2">
															<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
														</div>
														<div class="col-md-8">
															<div class="card-body">
																<h5 class="card-title article__heading-politics"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></h5>
																<p class="card-text"><a href="#">PRESENT</a></p>
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row mt-3">
												<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
													<div class="row no-gutters">
														<div class="col-md-4 pt-2">
															<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
														</div>
														<div class="col-md-8">
															<div class="card-body">
																<h5 class="card-title article__heading-politics"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></h5>
																<p class="card-text"><a href="#">PRESENT</a></p>
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row mt-3">
												<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
													<div class="row no-gutters">
														<div class="col-md-4 pt-2">
															<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
														</div>
														<div class="col-md-8">
															<div class="card-body">
																<h5 class="card-title article__heading-politics"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></h5>
																<p class="card-text"><a href="#">PRESENT</a></p>
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12 text-center text-uppercase pt-2 pb-2 mt-3">
													<a class="btn btn__politics" href="#">SEE MORE POLICY NOTES</a>
												</div>
											</div>
											<div class="row mt-3">
												<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
													<div class="row no-gutters">
														<div class="col-md-4 pt-2">
															<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
														</div>
														<div class="col-md-8">
															<div class="card-body">
																<h5 class="card-title article__heading-politics"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></h5>
																<p class="card-text"><a href="#">PRESENT</a></p>
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
												<div class="row mt-3 mb-3">
													<div class="col-7">
														<div class="row">
															<div class="col-12">
																<h5 class="card-title article__heading-politics"><a href="#">Argentina consecrates the myopia of Nodio observers</a></h5>
															</div>
															<div class="col-12">
																<p class="card-text"><a href="#">PRESENT</a></p>
															</div>
															<div class="col-12">
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
													<div class="col-5">
														<div class="row">
															<div class="col-5">
																<div class="icon_section-politics w-100">
																	
																</div>
															</div>
															<div class="col-7 pt-3">
																<h6><a href="#">Diego Cabot</a></h6>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row mt-3">
												<div class="card mr-md-4" style="width: 100%; border-color: transparent;  border-bottom: 1px solid #e6e6e6;">
													<div class="row no-gutters">
														<div class="col-md-4 pt-2">
															<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
														</div>
														<div class="col-md-8">
															<div class="card-body">
																<h5 class="card-title article__heading-politics"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></h5>
																<p class="card-text"><a href="#">PRESENT</a></p>
																<p class="card-text text-uppercase"><small class="text-muted">October 14, 2020</small></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="col-lg-5 col-md-12 hide1023">
									<div class="row pt-3 pb-3">
										<div class="col-12">
											<h5>MORE POLICY</h5>
										</div>
									</div>
									<ol class="steps">
										<li>
											<div class="card" style="border: none;">
												<div class="row no-gutters">
													<div class="col-md-8">
														<div class="py-2 pl-2 pr-1">
															<p class="card-text"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></p>
														</div>
													</div>
													<div class="col-md-4 pt-2">
														<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="card" style="border: none;">
												<div class="row no-gutters">
													<div class="col-md-8">
														<div class="py-2 pl-2 pr-1">
															<p class="card-text"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></p>
														</div>
													</div>
													<div class="col-md-4 pt-2">
														<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="card" style="border: none;">
												<div class="row no-gutters">
													<div class="col-md-8">
														<div class="py-2 pl-2 pr-1">
															<p class="card-text"><a href="#">The minimum wage will increase by 28%, far from the expectations of the unions</a></p>
														</div>
													</div>
													<div class="col-md-4 pt-2">
														<img src="images/3275561h134.jpg" class="card-img w-100"  alt="...">
													</div>
												</div>
											</div>
										</li>
									</ol>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-12">
							
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	</body>
</html>