{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<script src="{% static 'js/politicspost.js' %}" type="text/javascript"></script>
<title>Latest news on Politics - LA NACION</title>
{% endblock title %}
{% block container %}



<section class="container-fluid px-lg-5 px-md-3">
	
	
	<div class="row">
		<div class="col-12">
			<!-- content header area start here -->
			<div class="row">
				<div class="col-md-10 col-sm-11">
					<div class="row">
						<div class="col-12 pb-2">
							<a class="text__top-politics" href="#">THE NATION | POLITICS | TODAY</a>
						</div>
					</div>
					<div class="row">
						<div class="col-11 pt-2 pb-2">
							<h1 class="head__text-first">The minimum wage will increase by 28 percent, far from the
								expectations of the unions</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- content header area end here -->
			<!-- content banner photo area start here -->
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-lg-8 col-sm-11 m-md-4 m-0 image__area-post m-auto">
							<div class="row">
								<div class="col-12">
									<img src="{% static 'images/3275561h8643.jpg' %}" class="img-fulid w-100">
									<p>Moroni Source: Archive</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content banner photo area end here -->
			<!-- content share area start here -->
			<div class="row m-auto">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-lg-8 col-sm-11 m-lg-4 image__area-post m-auto">
							<div class="row py-4">
								<div class="col-lg-10 offset-lg-2 col-sm-12">
									<div class="row">
										<div class="col">
											<h5>Santiago Dapelo</h5>
										</div>
									</div>
									<div class="row pt-4">
										<div class="col-md-6 col-sm-12">
											<div class="row">
												<div class="col-12">
													<p class="sub__text-politics">october 12, 2020 • 3:24 pm</p>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-10 text-center">
											<div class="row">
												<div class="col-3 text-center offset-3">
													<button class="rounded-circle btn__social" href="#">
														<i class="far fa-comment"></i></button>
													<label
														class="comment__text d-none d-md-block text-center">Comment</label>
												</div>
												<div class="col-3">
													<button class="btn rounded-circle btn__social" href="#">
														<i class="far fa-thumbs-up"></i>
													</button>
													<label class="comment__text d-none d-md-block text-center">I like
														It</label>
												</div>
												<div class="col-3">
													<div class="dropdown">
														<button class="btn rounded-circle btn__social text center"
															type="button" id="dropdownMenuButton" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="false">
															<i class="fas fa-share"></i>
														</button>
														<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
															<a class="dropdown-item" href="#">Action</a>
															<a class="dropdown-item" href="#">Anoth</a>
															<a class="dropdown-item" href="#">Some</a>
														</div>
													</div>
													<label
														class="comment__text d-none d-md-block text-center">share</Label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- content share area end here -->
			<div class="row">
				<div class="col-lg-11 offset-lg-1">
					<div class="row">
						<div id="main" class="col-md-8">
							<div class="row">
								<div class="col-lg-11 offset-lg-1">
									<div class="row pb-lg-3">
										<div class="col-12 content__text-politics">
											<p class="has-dropcap">In the midst of the economic crisis, <strong>the
													living and mobile minimum wage will increase 28 percent.</strong> As
												confirmed by official sources, it was decided that it be done in three
												sections: 12%, in October; 10%, in December, and 6%, <strong>in March.
													In addition, it was defined that the Salary Council will meet again
													in April to evaluate inflationary evolution.</strong> </p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>Thus, <strong>the minimum wage will go from $ 16,875 to $ 21,600, far
													from the expectation that some unions had,</strong> which asked for
												an increase of 40%, closer to the inflation estimated for this year than
												in September it already adds 22.3%. The agreement that was closed in
												plenary session of the Employment Council was attended by the Minister
												of Labor,<strong>Claudio Moroni, </strong> the leadership of the CGT,
												the two CTAs and the main business chambers.</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>The agreement, which was by a majority - for the first time in three
												years the Executive Power did not have to laud - left a little
												appreciated also among the business chambers, which in the middle of a
												year that had a very strong drop in activity, offered a 20 percent
												increase.</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>The possibility of discussing a new increase in six months was what made
												it possible for the unions to accept the figure that puts the minimum
												wage below inflation.</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>The definition of the new salary floor will impact some 400,000 workers
												outside the agreement and is important because it serves as a reference
												for the initial teacher salary and social plans, since half of the
												amount represents the complementary social salary. In addition, the
												minimum wage is an indicator for informal work and for activities that
												are not unionized in eight-hour work days.</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>The maximum objective that the unionists had set was to bring the minimum
												wage to the value of the basic basket, which today is estimated at $
												46,800. Hours before the meeting, the CGT expressed their intention to
												request an increase of between 35 and 40 percent. "I do not know if the
												36 or 40%, but the proposal of the Salary Council has to be around,"
												said <strong>Héctor Daer</strong> in AM750.</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>A similar message was expressed by the leader of the Workers' CTA,
												<strong>Hugo Yasky:</strong> "The expectation is to try to recover the
												Minimum, Vital and Mobile Salary that is currently $ 16,875." And he
												added: "We are going to try to get as close as possible to the Basic
												Basket."</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>A similar message was expressed by the leader of the Workers' CTA, Hugo
												Yasky: "The expectation is to try to recover the Minimum, Vital and
												Mobile Salary that is currently $ 16,875." And he added: "We are going
												to try to get as close as possible to the Basic Basket."</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>The only ones who were dissatisfied with the arrangement were the
												representatives of the Autonomous CTA, who demanded a much higher raise.
											</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>In addition to the unions, the 16 representatives of the business
												chambers were present, such as the Argentine Industrial Union (UIA), the
												Rural Society and the Argentine Chamber of Commerce. The meeting, which
												was virtual, lasted almost four hours.</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>Thus, the national government formalized the first increase in the
												minimum wage. The last increase had been ordered in September of last
												year by the then Minister of Production and Labor Dante Sica, who, in
												the absence of an agreement between businessmen and union members,
												decided to raise the salary floor from $ 12,500 to $ 16,875.</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>En el encuentro, que fue encabezado por Moroni, también estuvieron
												presentes Santiago Cafiero, Jefe de Gabinete, y Daniel Arroyo, Ministro
												de Desarrollo Social. En representación del sector sindical,
												participaron Héctor Daer, Julio Piumato, Víctor Santa María, Jorge Solá,
												Noemí Ruiz, Antonio Calo, Jorge Carlos Acuña, Andrés Rodríguez, Gerardo
												Martínez, Sergio Romero y José Luis Lingieri, por parte de la
												Confederación General del Trabajo (CGT); y Hugo Yasky y Ricardo Peidro,
												de la Central de Trabajadores de la Argentina (CTA).</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>Meanwhile, the businessmen were present Daniel Funes from Rioja, José
												Etala, Guillermo Moretti and Horacio Martínez from the Argentine
												Industrial Union (UIA); Pedro Etcheberry, representing the Argentine
												Chamber of Commerce and Services (CAC); Jorge Hulton, from the Argentine
												Chamber of Construction (CAMARCO); Andrés Dominguez of the Argentine
												Agrarian Federation (FAA); Paulo Ares, from the Confederación
												Intercooperativa Agropecuaria Limitada (CONINAGRO); Alberto Froia, on
												behalf of the Argentine Rural Confederations (CRA); Guillermo Gambie,
												from the Buenos Aires Stock Exchange (BCBA); Pedro Cascales, from the
												Argentine Confederation of Medium Enterprises (CAME); and Juan Carlos
												Ciolli on behalf of Small and Medium Enterprises (PYMES).</p>
										</div>
									</div>
									<div class="row pt-2 pb-lg-3">
										<div class="col-12 content__text-politics">
											<p>By: Santiago Dapelo</p>
										</div>
									</div>
									<div class="row pt-4 pb-4" style="border-top: 1px solid #ddd;
												border-bottom: 1px solid #ddd;">
										<div class="col-8">
											<p>
												<font>According to</font><b> the criteria of</b><a
													href="#"><label></label></a>
											</p>
										</div>
										<div class="col-4">
											<p><a href="#">More information</a></p>
										</div>
									</div>
									<div class="row pt-2">
										<div class="col-12 content__text-politics">
											<p>By: Santiago Dapelo</p>
										</div>
									</div>
									<div class="row pt-2">
										<div class="col-8">
											<div class="row">
												<div class="col-12">
													<div class="card" style="border: none;">
														<img class="card-img-top"
															src="{% static 'images/3275561h134.jpg' %}"
															class="card-img w-100" alt="...">


														<div class="card-body pl-0 pr-0">
															<p class="card-text"><a href="#">The minimum wage will
																	increase by 28%, far from the expectations of the
																	unions</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-4">
											<div class="row">
												<div class="col-12">
													<div class="card" style="border: none;">
														<img class="card-img-top"
															src="{% static 'images/3275561h134.jpg' %}"
															class="card-img w-100" alt="...">


														<div class="card-body pl-0 pr-0">
															<p class="card-text"><a href="#">The minimum wage will
																	increase by 28%, far from the expectations of the
																	unions</a></p>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-12">
													<div class="card" style="border: none;">
														<img class="card-img-top"
															src="{% static 'images/3275561h134.jpg' %}"
															class="card-img w-100" alt="...">


														<div class="card-body pl-0 pr-0">
															<p class="card-text"><a href="#">The minimum wage will
																	increase by 28%, far from the expectations of the
																	unions</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row pt-2">
										<div class="col-12">
											<div class="row">
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<div class="row pt-2">
										<div class="col-8">
											<div class="row">
												<div class="col-12">
													<div class="card" style="border: none;">
														<img class="card-img-top"
															src="{% static 'images/3275561h134.jpg' %}"
															class="card-img w-100" alt="...">


														<div class="card-body pl-0 pr-0">
															<p class="card-text"><a href="#">The minimum wage will
																	increase by 28%, far from the expectations of the
																	unions</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-4">
											<div class="row">
												<div class="col-12">
													<div class="card" style="border: none;">
														<img class="card-img-top"
															src="{% static 'images/3275561h134.jpg' %}"
															class="card-img w-100" alt="...">


														<div class="card-body pl-0 pr-0">
															<p class="card-text"><a href="#">The minimum wage will
																	increase by 28%, far from the expectations of the
																	unions</a></p>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-12">
													<div class="card" style="border: none;">
														<img class="card-img-top"
															src="{% static 'images/3275561h134.jpg' %}"
															class="card-img w-100" alt="...">


														<div class="card-body pl-0 pr-0">
															<p class="card-text"><a href="#">The minimum wage will
																	increase by 28%, far from the expectations of the
																	unions</a></p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row pt-2">
										<div class="col-12">
											<div class="row">
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-4">
													<div class="row">
														<div class="col-12">
															<div class="card" style="border: none;">
																<img class="card-img-top"
																	src="{% static 'images/3275561h134.jpg' %}"
																	class="card-img w-100" alt="...">


																<div class="card-body pl-0 pr-0">
																	<p class="card-text"><a href="#">The minimum wage
																			will increase by 28%, far from the
																			expectations of the unions</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
									<!-- galary section end -->
								</div>
							</div>

						</div>
						<div class="col-lg-4 col-sm-12">
							<div id="not-sticky" class="row">
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-12 mt-lg-4 ml-2">
											<div>
												<h5>RECOMMENDED</h5>
											</div>
										</div>
									</div>
									<div class="card pt-2" style="border: none;">
										<div class="row no-gutters">
											<div class="col-md-8">
												<div class="py-2 pl-2 pr-1">
													<p class="card-text"><a href="#">Controversy over an interview by
															Jonatan Viale with Mauricio Macri</a></p>
												</div>
											</div>
											<div class="col-md-4 pt-2">
												<img src="{% static 'images/3275561h134.jpg' %}" class="card-img w-100"
													alt="...">
											</div>
										</div>
									</div>
									<div class="card pt-2" style="border: none;">
										<div class="row no-gutters">
											<div class="col-md-8">
												<div class="py-2 pl-2 pr-1">
													<p class="card-text"><a href="#">Controversy over an interview by
															Jonatan Viale with Mauricio Macri</a></p>
												</div>
											</div>
											<div class="col-md-4 pt-2">
												<img src="{% static 'images/3275561h134.jpg' %}" class="card-img w-100"
													alt="...">
											</div>
										</div>
									</div>
									<div class="card pt-2" style="border: none;">
										<div class="row no-gutters">
											<div class="col-md-8">
												<div class="py-2 pl-2 pr-1">
													<p class="card-text"><a href="#">Controversy over an interview by
															Jonatan Viale with Mauricio Macri</a></p>
												</div>
											</div>
											<div class="col-md-4 pt-2">
												<img src="{% static 'images/3275561h134.jpg' %}" class="card-img w-100"
													alt="...">
											</div>
										</div>
									</div>
									<div class="card pt-2" style="border: none;">
										<div class="row no-gutters">
											<div class="col-md-8">
												<div class="py-2 pl-2 pr-1">
													<p class="card-text"><a href="#">Controversy over an interview by
															Jonatan Viale with Mauricio Macri</a></p>
												</div>
											</div>
											<div class="col-md-4 pt-2">
												<img src="{% static 'images/3275561h134.jpg' %}" class="card-img w-100"
													alt="...">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="row pb-3">
												<div class="col-md-12 mt-lg-4 ml-2">
													<h4>MORE READS OF POLICY</h4>
												</div>
											</div>
										</div>
										<ol class="li__2nd">
											<li>
												<div class="card" style="border: none;">
													<img class="card-img-top"
														src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">


													<div class="card-body pl-0 pr-0">
														<p class="card-text"><a href="#">The minimum wage will increase
																by 28%, far from the expectations of the unions</a></p>
													</div>
												</div>
											</li>
											<li>
												<div class="card" style="border: none;">
													<img class="card-img-top"
														src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
													<div class="card-body pl-0 pr-0">
														<p class="card-text"><a href="#">The minimum wage will increase
																by 28%, far from the expectations of the unions</a></p>
													</div>
												</div>
											</li>
											<li>
												<div class="card" style="border: none;">
													<img class="card-img-top"
														src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">


													<div class="card-body pl-0 pr-0">
														<p class="card-text"><a href="#">The minimum wage will increase
																by 28%, far from the expectations of the unions</a></p>
													</div>
												</div>
											</li>
										</ol>
									</div>
								</div>
							</div>
							<!-- sticky start here -->

							<div id="sticky" class="row">
								<div class="col-12">
									<div class="row">
										<div class="col-12">
											<div class="card" style="border: none;">
												<div class="embed-responsive embed-responsive-16by9">
													<iframe class="embed-responsive-item"
														src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
														allowfullscreen></iframe>
												</div>


												<div class="card-body pl-0 pr-0">
													<p class="card-text"><a href="#">The minimum wage will increase by
															28%, far from the expectations of the unions</a></p>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<!-- sticky end here -->
						</div>
					</div>
				</div>
			</div>
			<div class="row pt-lg-3">
				<div class="col-11 m-auto">
					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-12">
											<h4>LIFESTYLE</h4>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-12">
											<h4>ECONOMÍA</h4>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-12">
											<h4>DEPORTES</h4>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<div class="col-12">
											<h4>SOCIEDAD</h4>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
									<div class="row mr-2 pl-1">
										<div class="card pt-2" style="border: none;">
											<div class="row no-gutters">
												<div class="col-md-8">
													<div class="py-2 pl-2 pr-1">
														<p class="card-text"><a href="#">Controversy over an interview
																by Jonatan Viale with Mauricio Macri</a></p>
													</div>
												</div>
												<div class="col-md-4 pt-2">
													<img src="{% static 'images/3275561h134.jpg' %}"
														class="card-img w-100" alt="...">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	
</section>
{%endblock container%}