{% load static %}

<h2 class="title">zxc</h2>
<table class="sortable">
    
    <thead>

        <tr>

            <th>Pos.</th>
            <th>Pts</th>
            <th style="pointer-events: none">PJ</th>
            <th>G</th>
            <th>E</th>
            <th>P</th>
            <th>DG</th>
            <th>Pr.</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>asdasdasssssssssss
            </td>
            <td>zxczxc</td>
            <td>zszxc</td>
            <td>zxczxc</td>
            <td>123123</td>
            <td>2342435</td>
            <td>34534</td> 
            <td>345</td>
            
        </tr>
        <tr>
            <td>asdasdasssssssssss
            </td>
            <td>zxczxc</td>
            <td>zszxc</td>
            <td>zxczxc</td>
            <td>123123</td>
            <td>2342435</td>
            <td>34534</td> 
            <td>345</td>
            
        </tr>
       
    </tbody>
</table>


<h2 class="title">zxc</h2>
<table class="sortable">
    
    <thead>

        <tr>

            <th>Pos.</th>
            <th>Pts</th>
            <th style="pointer-events: none">PJ</th>
            <th>G</th>
            <th>E</th>
            <th>P</th>
            <th>DG</th>
            <th>Pr.</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>asdasdasssssssssss
            </td>
            <td>zxczxc</td>
            <td>zszxc</td>
            <td>zxczxc</td>
            <td>123123</td>
            <td>2342435</td>
            <td>34534</td> 
            <td>345</td>
            
        </tr>
        <tr>
            <td>asdasdasssssssssss
            </td>
            <td>zxczxc</td>
            <td>zszxc</td>
            <td>zxczxc</td>
            <td>123123</td>
            <td>2342435</td>
            <td>34534</td> 
            <td>345</td>
            
        </tr>
       
    </tbody>
</table>