{% extends 'head_foot.html' %}
{% load static %}
{% block title %}
<title>Latest news from Jardín Magazine - LA NACION </title>
{% endblock title %}
{% block container %}
<section class="container-fluid px-lg-5 px-md-3" style="background:#DC9A44;">
	
		<div class="row pt-3 pb-2 py-0 py-md-5">
			<div class="col-sm-4 d-none d-sm-block">
				<div class="row">
					<div class="col-sm-12" style="color: #DC9A44;">
						<button onclick="window.location.href='https://twitter.com/RevistaOhlala';" class="btn-s" href="#"><i style="width:19px;height: 15px;" class="fab fa-twitter"></i></button>
						<button onclick="window.location.href='https://www.facebook.com/ohlalarevista';" class="btn-s" href="#"><i style="width:19px;height: 15px;" class="fab fa-facebook-f"></i></button>
						<button onclick="window.location.href='https://www.instagram.com/revistaohlala/';" class="btn-s"href=""><i style="width:19px;height: 15px;" class="fab fa-instagram"></i></button>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="row pt-3 pb-3">
					<div class="col-sm-6 col-6 offset-3 offset-sm-0">
						<p class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.451 92.016">
								<defs>
									<style>
										.cls-1 { fill: #fff; }
									 </style>
								</defs>
								<g id="jardin" transform="translate(0 0)">
									<path id="Path_99" data-name="Path 99" class="cls-1" d="M65.712,50.831a34.291,34.291,0,0,1-11.66,12.022A24.946,24.946,0,0,1,41.464,66.9,19.125,19.125,0,0,1,27.127,60a29.729,29.729,0,0,1-6.3-20.9,44.591,44.591,0,0,1,4.217-19.736A35.473,35.473,0,0,1,36.331,5.642,29.367,29.367,0,0,1,53.83.609q3.021,0,9.114.643c.6.077,1.572.172,2.718.3h10.7V46.483A59.3,59.3,0,0,0,78.8,65.15h-11a98.683,98.683,0,0,1-2.093-14.319Zm0-12.593V10.978A41.7,41.7,0,0,0,55.2,9.5a20.724,20.724,0,0,0-16.366,7.587A30.554,30.554,0,0,0,32.318,37.7a23.849,23.849,0,0,0,3.574,14.273A10.079,10.079,0,0,0,44.028,56.8a18.042,18.042,0,0,0,11.016-4.983A47.563,47.563,0,0,0,65.7,38.3Z" transform="translate(11.748 0.339)"></path>
									<path id="Path_100" data-name="Path 100" class="cls-1" d="M61.235,65.488V1.749H71.876V15.742A35.537,35.537,0,0,1,83.141,3.906,26.753,26.753,0,0,1,97.315,0a39.137,39.137,0,0,1,11.474,1.749V21.581H98.674V10.152a26.436,26.436,0,0,0-4.2-.453A18.033,18.033,0,0,0,82.9,14.419,51.336,51.336,0,0,0,71.907,28.584V65.57Z" transform="translate(34.888 0)"></path>
									<path id="Path_101" data-name="Path 101" class="cls-1" d="M140.2,64.853V10.006H129.718V1.114h21.118V64.853Z" transform="translate(73.906 0.636)"></path>
									<path id="Path_102" data-name="Path 102" class="cls-1" d="M149.248,65.488V1.749H159.9v13.9a35.934,35.934,0,0,1,11-11.488A23.6,23.6,0,0,1,183.761,0a18.455,18.455,0,0,1,10.26,2.99,16.017,16.017,0,0,1,6.469,7.882A64.39,64.39,0,0,1,202.328,29.9V65.484H191.692V28.539a52.165,52.165,0,0,0-.879-12.135,9.54,9.54,0,0,0-3.243-4.833,8.091,8.091,0,0,0-5.146-1.889,19.351,19.351,0,0,0-11.977,5.3A42.5,42.5,0,0,0,159.9,28.3v37.19Z" transform="translate(85.034 0)"></path>
									<path id="Path_103" data-name="Path 103" class="cls-1" d="M.127,1.114v8.892H15.854V59.173a39.314,39.314,0,0,1-2.07,15.261,12.779,12.779,0,0,1-5.776,6.3A15.329,15.329,0,0,1,0,81.409v9.966a31.664,31.664,0,0,0,13.422-2.718,23.2,23.2,0,0,0,9.227-9.028q3.81-6.3,3.81-22.491V1.114Z" transform="translate(0 0.636)"></path>
									<path id="Path_104" data-name="Path 104" class="cls-1" d="M95.442,1.759A122.257,122.257,0,0,1,113.289.4c12.009,0,20.556,2.691,26.219,7.963a30.413,30.413,0,0,1,9.223,23.342,34.839,34.839,0,0,1-9.318,25.181c-5.966,5.979-16.131,9.318-28.705,9.318a117.185,117.185,0,0,1-15.265-.77Zm10.681,54.584a47.4,47.4,0,0,0,7.379.331c15.6.077,24.062-9.268,24.062-24.52.077-13.49-7.461-22.35-22.88-22.35a41.384,41.384,0,0,0-8.548.756Z" transform="translate(54.382 0.222)"></path>
								</g>
							</svg>
                        </p>

					</div>
				</div>
			</div>
		</div>
		
		<div class="row pb-5"></div>
	
</section>
<section class="container-fluid px-lg-5 px-md-3">
	
		<div class="row" style="margin-top: -2rem;">
			{% for i in cards %}   
			<div class="col-md-6 col-sm-12 pt-3 pt-md-0 px-0 px-md-3">
				<div class="card" style="box-shadow: -1px 6px 40px 4px rgba(0,0,0,.2);height: 100%;">
					<a title="{{i.title}}" href="#" class="img_hover-e figure" style="background: #E6E6E6;">
						<img class="d-flex justify-content-center align-items-center card-img-top"
							
							{% with i.cover_pic as img %}
							src="{% static img %}" style="height: auto;" alt="">
							{% endwith %}
								
					</a>
					<div class="card-body">
						<a title="{{i.title}}" href="#" class="black bluehover">
							<h4 class="card-title" style="font-family: suecaslabmedium,Georgia">
								{{i.title}}
							</h4>
						</a>
						<p class="card-text text-uppercase" style="font-size: 12px;">

							<a href="#" style="color: #DC9A44;">{{i.topic}}</a>
						</p>

					</div>
				</div>
			</div>
			{%endfor%}
		</div>
	
</section>

<section class="container-fluid px-lg-5 px-md-3">
	<div class="row mt-0 mt-md-4">
		<div class="col-12 col-md-9">
			<div class="row">
				
				{% for x in data %}
					   
				<div class="col-12 col-md-4">
					
						<div class="card-body py-md-3 px-sm-0 px-0">
							<a href="#" class="black bluehover img_hover-e" title="{{x.title}}">
							{% with x.cover_pic as img %}
							<img class="card-img-bottom mt-4" src="{% static img %}" alt="recent">
							{% endwith %}
							<h5 class="card-title px-2 px-md-0" style="font-family: suecaslabmedium,Georgia">
								{{x.title}}
							</h5>
							 </a>
							 <p class="card-text text-uppercase" style="font-size: 12px;">

								<a href="#" style="color: #DC9A44;">present</a>
							</p>
						</div>
					
				</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-sm-12 text-center text-uppercase pt-2 pb-2 mt-3 yard">
					<a class="btn btn__politics" href="#">SEE MORE NOTES FROM Garden Magazine! </a>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="row">
				<div class="col hide1023">
					<div class="row pt-3 pb-3">
						<div class="col-12">
							<h5 class="text-uppercase" style="font-family: suecaslabmedium,Georgia">
							  most  <strong>read now</strong></h5>
						</div>
					</div>
					<ol class="steps">

						{% for y in more %}



						<li>
							<a href="#" class="black bluehover img_hover-e">
								<div class="card" style="border: none;">
									<div class="row no-gutters">
										<div class="col-md-8">
											<div class="py-2 pl-2 pr-1">
												<p class="card-text">

													{{y.title}}

												</p>
											</div>
										</div>
										<div class="col-md-4 pt-2">

											{% with y.cover_pic as img %}
											<img src="{% static img %}" class="card-img w-100" alt="...">
											{% endwith %}

										</div>
									</div>
								</div>
							</a>
						</li>
						{% endfor %}
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock container %}